* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  width: 100vw;
}

main {
  /* sampul */

  position: relative;
  width: 85vw;
  height: 90vh;
  left: 6%;
  top: 30px;
  border: 20px dashed #dbaa39;
  background: #864c33;
  border-style: double;
  padding-top: 5px;
  -webkit-box-shadow: 14px 16px 29px -1px #000000;
  box-shadow: 14px 16px 29px -1px #000000;
}

ul span a {
  margin: 0 5% ;
  /* background-color: saddlebrown; */
  text-transform: uppercase;
  color: white;
}


/* HP */
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 770px) {
  body {
    overflow: unset;
  }

  main {
    height: 100%;
  }
  .col-4 {
    width: 100% !important;
  }

  .row {
    width: 100%;
  }

  .awalan.row {
    display: block;
  }
  .kiri {
    position: relative;
    width: 100vw;
    height: 80vh;
    margin-left: 7%;
    top: 9px;

    background: #efd2a5;
    box-shadow: -5px 5px 0px 0px #f7b85a, -10px 7px 0px 0px #e6c594, -15px 8px 0px 0px #e0a752, -20px 9px 0px 0px #e9c186, -25px 10px 0px 0px #da9938, -5px 6px 15px 5px #f3ae47;
  }

  .kanan {
    position: relative;
    width: 100%;
    height: 80vh;
    margin-right: 4%;
    top: 5px;

    background: #efd2a5;
    box-shadow: 5px 5px 0px 0px #f7b85a, 10px 7px 0px 0px #e6c594, 15px 8px 0px 0px #e0a752, 20px 9px 0px 0px #e9c186, 25px 10px 0px 0px #da9938, 5px 6px 15px 5px #f3ae47;
  }
  .tengah {
    display: none;
  }
  ul span a {
    margin: 0 1%;
    background-color: saddlebrown;

    text-transform: uppercase;
    color: white;
  }
}

/* Tablet */
@media (min-width: 775px) and (max-width: 992px) {
  .kiri {
    width: 100%;
    height: 40vh !important;
    margin-left: 4%;
    top: 9px;
    z-index: 3;
    background: #efd2a5;
    box-shadow: -5px 5px 0px 0px #f7b85a, -10px 7px 0px 0px #e6c594, -15px 8px 0px 0px #e0a752, -20px 9px 0px 0px #e9c186, -25px 10px 0px 0px #da9938, -5px 6px 15px 5px #f3ae47;
  }
  .col-4 {
    width: 60vh !important;
    height: 50vw;
  }
  div.col.kanan {
    width: 600px !important;
  }
  .kanan {
    width: 100%;
    height: 45vh;
    margin-right: 4%;
    margin-left: -45px;
    top: 5px;
    z-index: 3;
    background: #efd2a5;
    box-shadow: 5px 5px 0px 0px #f7b85a, 10px 7px 0px 0px #e6c594, 15px 8px 0px 0px #e0a752, 20px 9px 0px 0px #e9c186, 25px 10px 0px 0px #da9938, 5px 6px 15px 5px #f3ae47;
  }
  ul span a {
    margin: 0 1%;
    background-color: saddlebrown;

    text-transform: uppercase;
    color: white;
  }
}

/* Laptop*/
@media (min-width: 993px) {
  /* Menu */
  ul span a {
    display: block;
    /* margin: 0 3%; */
    /* background-color: saddlebrown; */
    /* padding: 45px 3px 10px 10px; */
    padding: 2px 3px 0 10px;
    text-transform: uppercase;
    color: wheat;
  }
  /* Menu */
  #aboutme .page1.text-decoration-none{
    background-color: #864c33;
    padding: 15px 90px 15px 0;
    margin-bottom: 8px;
  }
  #skill .page2.text-decoration-none{
    background-color: #864c33;
    padding: 15px 90px 15px 0;
    margin-bottom: 8px;
  }
  #history .page3.text-decoration-none{
    background-color: #864c33;
    padding: 15px 90px 15px 0;
    margin-bottom: 8px;
  }
  #project .page4.text-decoration-none{
    background-color: #864c33;
    padding: 15px 90px 15px 0;
    margin-bottom: 8px;
  }
  /* Sampai sini */
  .kiri {
    width: 100%;
    height: 80vh;
    margin-left: 4%;
    top: 9px;
    z-index: 3;
    background: #efd2a5;
    box-shadow: -5px 5px 0px 0px #f7b85a, -10px 7px 0px 0px #e6c594, -15px 8px 0px 0px #e0a752, -20px 9px 0px 0px #e9c186, -25px 10px 0px 0px #da9938, -5px 6px 15px 5px #f3ae47;
  }

  .kanan {
    width: 100%;
    height: 80vh;
    margin-right: 4%;
    top: 5px;
    z-index: 3;
    background: #efd2a5;
    box-shadow: 5px 5px 0px 0px #f7b85a, 10px 7px 0px 0px #e6c594, 15px 8px 0px 0px #e0a752, 20px 9px 0px 0px #e9c186, 25px 10px 0px 0px #da9938, 5px 6px 15px 5px #f3ae47;
  }

  .tengah {
    background-color: #efd2a5;

    border-radius: 27px;
    /* background-image: url(../img/binder_ring-removebg-preview.png);
    background-size: 100px; */
    background-repeat: repeat-y;
    z-index: 0;
    transform: scale(1.1);
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1350px) {
}
